attr==0.3.2
chromadb==1.0.20
ConfigParser==7.2.0
cryptography==45.0.6
docutils==0.22
filelock==3.19.1
HTMLParser==0.0.2
ipython==9.4.0
ipywidgets==8.1.7
jnius==1.1.0
keyring==25.6.0
openai==1.100.2
pyOpenSSL==25.1.0
redis==6.4.0
Sphinx==8.2.3
thread==2.0.5
xmlrpclib==1.0.1
